.card {
    border: 1px solid grey;
}
.remove-product {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    padding: .5rem;
    border-radius: 5px;
    
    &:hover {
        background-color: orange;
        
    }

}

